{% extends "base.html" %}

{% block navbarclassblock %}
<nav class="navbar  navbar-fixed-top navbar-default">
{% endblock %}

{% block titleblock %}
<title>About Me</title>
{% endblock %}

{%  block bodyblock %}
<body class=""></body>
{% endblock %}

{% block content %}

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer text-center">
          <h1 class="h2">03 : About me</h1>
        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <h3>Electronics & Instrumentation Engineer</h3>
                <p>I have completed my graduation from MIET, Meerut. The degree makes me an EI engineer but my heart always likes coding.</p>
                <h3>IT Analyst </h3>
                <p>By profession, I work in an MNC called Tata Consultancy Services. I had joined the organization in 2016 and gained so much experience and knowledge
                   throughout my whole journey till now.</p>
                <h3>Successful IT Engineer</h3>
                <p>My dream is to work as an IT engineer for whole life. I love the coding the way I breath.
                   Being successful and stick with the technical position might not be a good idea but for me thats it.</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <img src="./static/assets/images/IMG_4998.jpg" class="img-responsive" alt="">
              </div>
            </div>
          </div>
        </div>
     </div>
    </div>
  </div>
</div>

{% endblock %}