{% extends "base.html" %}

{% block navbarclassblock %}
<nav class="navbar  navbar-fixed-top navbar-default">
{% endblock %}

{% block titleblock %}
<title>Work Page</title>
{% endblock %}

{%  block bodyblock %}
<body class=""></body>
{% endblock %}

{% block content %}

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/DWXI7239.JPG" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">001 : Rajesh Loves Annu</h1>
          </div>
          <p></p>

          <blockquote>
            <p>"I Love You Annu Rajesh Arya.. !!"</p>
            <small class="pull-right">Rajesh Arya</small>
          </blockquote>
        </div>
      </div>



      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/IMG_5913.jpg" class="img-responsive" alt="">
            <p>Rajesh Arya</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/IMG_5596.jpg" class="img-responsive" alt="">
            <p>Annu Rajesh Arya</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <img src="./static/assets/images/love.jpg" class="img-responsive" alt="">
      </div>

    </div>
  </div>
</div>

{% endblock %}